
<br>
<table>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Author</th>
      <th colspan="2">Comments</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td>{{blogItem?.id}}</td>
      <td>{{blogItem?.title}}</td>
      <td>{{blogItem?.description}}</td>
      <td>{{blogItem?.author}}</td>
      <td *ngFor="let comment of blogItem?.comments">{{comment }}</td>
      <td>
        <button (click)="edit()">EDIT</button>
        <button (click)="delete()">DELETE</button>
      </td>
    </tr>
    </table>